body{
    width: 80%;
    margin: auto;
  }
  figcaption {
    font-size: 18px;
  }
  
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 26px;
  }
  p{
    font-size: 18px;
  }
  
  
  @media screen and (max-width: 768px){
    
    h1 {
      font-size: 24px;
    }
    h2 {
      16px;
    }  
    body{
      width: 98%;
      margin: auto;
    }
    figcaption {
      font-size: 14px;
    }
    img { 
      width: 60%;
      height: auto;
    }
    p{
      14px;
    }
    
  }
  
  @media screen and (min-width: 1200px){
    
    h1 {
      font-size: 48px;
    }
    h2 {
      32px;
    }  
    body{
      width: 70%;
      margin: auto;
    }
    figcaption {
      font-size: 24px;
    }
    img { 
      width: 120%;
      height: auto;
    }
    p{
      24px;
    }
    
  }